<!DOCTYPE html>
<html lang="en">
<head>
  <script src="https://unpkg.com/jquery@3.6.0/dist/jquery.min.js"></script>
  <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
  <link rel="stylesheet" href="./styles/base.css">
  <link rel="stylesheet" href="./styles/layout.css">
  <link rel="stylesheet" href="./styles/modules.css">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Choose your Board</title>
</head>
<body>
  <%- include('./layout/header.ejs') %>
  <main>
    <h1>CHOOSE YOUR BOARD</h1>
            <!--DROP DOWN FORM-->
    <div class="drop-down">
      <form class="choose-user" action="/userboard" method="POST">
        <select action='/userboard' name="choice" class="drop-down-form">
        <option name='username' value="default" selected>Choose a User</option>
        <% visionQuery.combinedUsers.forEach(user => { %>
          <option name="username" value= <%= user %> > <%= user %> </option>  <% }) %>
        </select>
        <input type="submit" class="drop-down-button">
      </form>
    </div>
            <!--MASONRY GRID-->
    <div class ="grid">
    <% visionQuery.visionList.forEach(image => { %>
      <div class="grid-item">
        <img src="<%= image.image_url %>" alt="my pin">
        <div class="details">
        <span class="title">Lorem Ipsum Dolor</span>
          <span class="info">Quisque vel felis lectus donec vitae dapibus</span>
        </div> 
        <input type="text" hidden name="image" value="<%= image.image_url %>">
        <input type="text" hidden name="username" value="<%= visionQuery.username %>">
        <!-- <input type="submit" value="details">  -->
            <!--COMMENTED ^^^ABOVE^^^ DETAILS BUTTON OUT FOR NOW-->
      </div>
      <% }) %>
      </div>
  </main>
  <%- include('./layout/footer.ejs') %>
  <script src="app.js"></script>
</body>
</html>