<!DOCTYPE html>
<html lang="en">
<head>
  <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
  <link rel="stylesheet" href="./styles/base.css">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <%- include('./layout/header.ejs') %>
  <main>
  <h1>SEARCH RESULTS</h1>
  <div class ="grid">
    <% if (visionQuery.visionList.length === 0) { %>
      <h3>NO SEARCH RESULTS FOUND STUPID</h3>
      <div class="search-container">
        <img src="img/img8.jpg" class="search-width"> 
      </div>
    <% } else { %>
  <% visionQuery.visionList.forEach(image => { %>
      <div class="search-container">
        <img src="<%= image.image_url %>" alt="my search" class="search-width"> 
        <form action="/newentry" method="POST">
          <input type="text" hidden name="image" value="<%= image.image_url %>">
          <input type="text" hidden name="username" value="<%= image.username %>">
          <input type="text" hidden name="image_author" value="<%= image.image_author %>">
          <input type="text" hidden name="image_author_url" value="<%= image.image_author_url %>">
          <input type="submit" value="pin" class="pin-button">
        </form>
      </div>
  <% }) } %>
  </div>
  </main>
  <%- include('./layout/footer.ejs') %>
  <script src="app.js"></script>
</body>
</html>